.App {
  text-align: center;
  height: 100%;
  padding: 24px;
}

.App-Content {
  margin: 24px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-Messages {
  height: 600px;
  overflow-y: scroll;
}

.App-ChatForm {
  margin-top: 30px;
}

.ant-timeline-item-content{
 margin: 0 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-timeline-item-head {
  opacity: 0;
}
